body {
	font-family: monospace;
	color: #DDD;
	background-color: #222;
}

table tr:nth-child(2n + 1) {
	background-color: #222;
}

table tr:nth-child(2n) {
	background-color: #333;
}

a:link {
	text-decoration: none;
	color: #EDF;
	font-size: 12pt;
}

a:hover {
	text-decoration: underline;
	color: #FFF;
}

a:visited {
	color: #A8F;
}

table {
	border-collapse: collapse;
	width: 80%;
	margin: 3em auto;
}

th {
	text-align: start;
}

div.form-wrapper {
	width: 80%;
	margin: 0 auto 3em 3em;
}

div.form-wrapper input {
	margin: 10px auto 0;
	height: 40px;
	line-height: 30px;
	display: inline-block;
}

div.form-wrapper label {
	text-align: right;
}

div.form-wrapper input[type=reset] {
	border-color: hsl(360, 40%, 55%);
	background-color: hsl(360, 15%, 25%);
	color: hsl(360, 15%, 95%);
	border-style: solid;
}

div.form-wrapper input[type=submit] {
	border-color: hsl(200, 40%, 55%);
	background-color: hsl(200, 15%, 25%);
	color: hsl(200, 15%, 95%);
	border-style: solid;
}

form table {
	margin: 0;
	width: auto;
}

form table th {
	text-align: end;
	padding: .6em 2em;
}

form table td {
	text-align: start;
	padding: .6em 2em;
}

.align-center {
	text-align: center;
}

p.valid-xhtml {
	text-align: end;
}
